/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/dist/tailwind.css';
@import 'tailwindcss/dist/preflight.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';
@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.spicy {
  font-family: 'Spicy Rice', cursive !important;
}

app-root,
app-store {
  height: 100%;
  display: block;
}

.button {
  background: url('/assets/ui/buttonLong_brown.png') no-repeat center;
  cursor: pointer;
  border: none;
  width: 190px;
  height: 49px;

  color: white;
  font-family: 'Spicy Rice';
  font-size: 26px;
  outline: none;
}

.button:hover {
  background: url('/assets/ui/buttonLong_brown_pressed.png') no-repeat center;
}

.button:disabled {
  filter: grayscale(100%);
}

.button:disabled:hover {
  background: url('/assets/ui/buttonLong_brown.png') no-repeat center;
  cursor: not-allowed;
}
