<div class="flex h-full w-full bg-orange-darker">
  <div class="flex bg-grey w-1/4 min-w px-2 pt-2 flex-col">
    <app-item-selector title="Heat Source" [item]="heatSource"></app-item-selector>
    <app-item-selector title="Cooking Surface" [item]="cookingSurface"></app-item-selector>
    <app-item-selector title="Cooling Surface" [item]="coolingSurface"></app-item-selector>
  </div>
  <button class="button self-end ml-auto mb-2 mr-2" (click)="close()">Cancel</button>
  <button class="button self-end ml-2 mb-2 mr-2">Bake</button>
</div>
