<div class="flex text-white w-full h-full flex-wrap flex-col">
  <div class="w-full mt-2 text-center spicy text-3xl">Leaderboards</div>

  <!-- Richest -->
  <div class="flex-start w-full p-2" *ngIf="mode === 'richest'">
    <div class="bg-white text-black p-2 mb-2" *ngFor="let user of richest">
      <span class="spicy text-black text-4xl mr-2">{{ user.rank }}</span
      >{{ user.username }} - {{ user.currency }}
    </div>
  </div>

  <div class="flex-end w-full p-2"><button class="button" (click)="close()">Close</button></div>
</div>
