<div class="store-item-container">
  <div class="w-full h-full front">
    <div class="spicy text-center text-2xl text-white select-none">{{ item.name }}</div>
    <div class="image-container" [style.background-image]="backgroundImageCSS"></div>
  </div>
  <div class="w-full h-full back">
    <div class="spicy text-center text-2xl text-white select-none">{{ item.name }}</div>
    <div class="mt-2 text-white select-none">{{ item.description }}</div>
    <div class="flex mt-auto">
      <div class="w-1/2 mt-2 spicy text-2xl text-white select-none">{{ item.cost }}💸</div>
      <div class="w-1/2 mt-2 flex justify-end">
        <button (click)="onAddToCart()" class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded-full select-none"
          type="button">
          Cart It 🛒
        </button>
      </div>
    </div>
  </div>
</div>