<div
  class="overlay-container"
  [style.width]="overlaySize.w + 'px'"
  [style.height]="overlaySize.h + 'px'"
  [style.margin-top]="containerTopMargin"
  [style.margin-left]="containerLeftMargin"
>
  <div class="overlay" [ngClass]="{ active: showStore }"><app-store *ngIf="showStore"></app-store></div>
  <div class="overlay" [ngClass]="{ active: showLoadout }"><app-loadout *ngIf="showLoadout"></app-loadout></div>
  <div class="overlay" [ngClass]="{ active: showLeaderboard }">
    <app-leaderboard *ngIf="showLeaderboard"></app-leaderboard>
  </div>
</div>

<div class="gamecontainer" #gamecontainer><canvas #gamecanvas></canvas></div>
